.nav-bar li {
    display:inline-block;
    margin-right: 20px;
  }

  .nav-bar li a:link,
  .nav-bar li a:visited {
    text-transform: uppercase;
    text-decoration:none;
    color:#FF5112;
    font-size:90%;
    transition: 1px solid transparent;
  }

  .nav-bar li a:hover,
  .nav-bar li a:active {
    border-bottom : 2px solid  #FF5112;
    padding: 10px 0;
    color: #70b0b0;
  }

  header {
    display: flex;
    align-items: top;
    font-family: 'Itim', cursive;
    padding: 20px 50px;
    justify-content: space-between;
    background-size:cover;
    height:10%;
    width: 90%;
    font-weight: bold;
  }

  .card-grid {
    position: relative;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  transition: all 0.3s ease-in-out;

  }
  
  .card {
    position: relative;
    
  }
  
  .card img {
    margin: 15px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
  }
  
  .card h3 {
    margin: 0;
    font-family: 'Itim', cursive;
    font-size: 1.2rem;
  }
  
  .card p {
    margin: 0;
    font-family: 'Itim', cursive;
    font-size: 1rem;
  }
  
  .card button {
    cursor:pointer;
    position: relative;
    align-self: center;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 50%;
    padding: 0.5rem;
    background-color: #70B0B0;
    color: #fff;
    border: none;
    outline: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .card:hover button {
    opacity: 1;
  }


  .button2{
    cursor: pointer;
    font-weight: bold;
    font-family: 'Itim', cursive;
    margin-left: 6.9px;
    color: #ffffff;
    font-family: 'Itim', cursive;
    background-color: #FF5112;
    border: none;
    outline-width: 0;
    outline: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 75px;
  }

  .dailyButton button{
    cursor: pointer;
    font-weight: bold;
    margin-left: 6.9px;
    color: #ffffff;
    font-family: 'Itim', cursive;
    background-color: #FF5112;
    border: none;
    outline-width: 0;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 150px;
  }

  .dailyButton button[disabled] {
    background-color: #CCCCCC;
  }
  .dailyPButton button{
    cursor: pointer;
    font-weight: bold;
    margin-left: 6.9px;
    color: #ffffff;
    font-family: 'Itim', cursive;
    background-color: #FF5112;
    border: none;
    outline-width: 0;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 150px;
  }
  .dailyPButton button[disabled] {
    background-color: #CCCCCC;
  }


  .stickerPack {
    position: relative;
    
  }
  
  .stickerPack img {
    margin: 15px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
  }
  
  .stickerPack h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .stickerPack p {
    margin: 0;
    font-size: 1rem;
  }
  
  .stickerPack button {
    cursor:pointer;
    position: relative;
    align-self: center;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    width: 50%;
    padding: 0.5rem;
    background-color: #70B0B0;
    color: #fff;
    border: none;
    outline: none;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }
  
  /* .stickerPack:hover button {
    opacity: 1;
  } */


  .Alert{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: large;
    font-weight: bold;
    color: #FF5112;
  }
  .pinpoints-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
  }
  
  .pinpoint {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
  }
  
  .pinpoint p {
    margin-left: 25px;
  }
  
  .red {
    background-color: rgb(203, 214, 200);
  }
  
  .blue {
    background-color: rgb(100, 178, 255);
  }
  
  .green {
    background-color: orange;
  }
  
  .yellow {
    background-color: purple;
  }
  

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
  }
  
  .modal-close {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #FF5112;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-close:hover {
    background-color: #e04810;
  }
  
  .cemetery-container {
    padding: 20px;
    color: #1e1e2f;
    text-align: center;
  }
  
  .cemetery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .tombstone {
    background-color: #2e2e3f;
    border: 2px solid #444;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  .tombstone::before {
    content: "🪦";
    font-size: 40px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tombstone-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .tombstone-details h3 {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .tombstone-details p {
    font-size: 14px;
    color: #1e1e2f;
  }
  
  .recover-button {
    background-color: #FF5112;
    color: #1e1e2f;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .recover-button:hover {
    background-color: #FF5112;
  }
  
  .no-cards-message {
    text-align: center;
    color: #1e1e2f;
    font-size: 16px;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .modal-field {
    margin: 10px 0;
  }
  
  .modal-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .modal-field input,
  .modal-field textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .edit-button,
  .save-button,
  .cancel-button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #007bff;
    color: white;
  }
  
  .save-button {
    background-color: #28a745;
    color: white;
  }
  
  .cancel-button {
    background-color: #dc3545;
    color: white;
  }

  .profile-header {
    margin: 20px 0;
    text-align: "center";
  }
  
  .profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: "center";
  }
  
  .profile-bio {
    font-size: 16px;
    color: #555;
  }
  
  .edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .edit-button:hover {
    background-color: #0056b3;
  }


/* Exodia */

.forge-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Itim', cursive;
  background-color: #f9f9f9;
  padding: 0 20px;
}



.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 300px;
}

.card-slot {
  width: 90px;
  height: 130px;
  border: 2px dashed #8c8c8c;
  border-radius: 10px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Posicionamento das cartas */
.solo {
  grid-column: 2;
}

.duo-left {
  grid-column: 1;
  margin-top: -10px; /* Alinha melhor as cartas */
}

.duo-right {
  grid-column: 3;
  margin-top: -10px; /* Alinha melhor as cartas */
}

.trio-left {
  grid-column: 1 / 2;
}

.trio-right {
  grid-column: 3 / 4;
}

.forge-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #FF5112;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Itim', cursive;
  margin-top: 15px;
}
